<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>93609935169-v5ufe9k9tri3m95bngfhhad6ml3gv4gn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.93609935169-v5ufe9k9tri3m95bngfhhad6ml3gv4gn</string>
	<key>API_KEY</key>
	<string>AIzaSyCCyF1OKrgEXv6YrXQOm41jB_fPzd9oi-c</string>
	<key>GCM_SENDER_ID</key>
	<string>93609935169</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycompany.Kiki</string>
	<key>PROJECT_ID</key>
	<string>kiki-ba318</string>
	<key>STORAGE_BUCKET</key>
	<string>kiki-ba318.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:93609935169:ios:00884b64cd923c87</string>
	<key>DATABASE_URL</key>
	<string>https://kiki-ba318.firebaseio.com</string>
</dict>
</plist>